<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>-&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≠</string>
		<key>shortcut</key>
		<string>!=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>α</string>
		<key>shortcut</key>
		<string>\alfa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Α</string>
		<key>shortcut</key>
		<string>\Alfa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∡</string>
		<key>shortcut</key>
		<string>\angle</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Å</string>
		<key>shortcut</key>
		<string>\angstrom</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♒︎</string>
		<key>shortcut</key>
		<string>\aquarius</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♈︎</string>
		<key>shortcut</key>
		<string>\aries</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ß</string>
		<key>shortcut</key>
		<string>\beta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Β</string>
		<key>shortcut</key>
		<string>\Beta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⋈</string>
		<key>shortcut</key>
		<string>\bowtie</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♋︎</string>
		<key>shortcut</key>
		<string>\cancer</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♑︎</string>
		<key>shortcut</key>
		<string>\capricorn</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>χ</string>
		<key>shortcut</key>
		<string>\chi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Χ</string>
		<key>shortcut</key>
		<string>\Chi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☄</string>
		<key>shortcut</key>
		<string>\comet</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>†</string>
		<key>shortcut</key>
		<string>\dagger</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>°</string>
		<key>shortcut</key>
		<string>\deg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>°C</string>
		<key>shortcut</key>
		<string>\degC</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>℉</string>
		<key>shortcut</key>
		<string>\degF</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>δ</string>
		<key>shortcut</key>
		<string>\delta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∆</string>
		<key>shortcut</key>
		<string>\Delta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌀</string>
		<key>shortcut</key>
		<string>\diam</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌀</string>
		<key>shortcut</key>
		<string>\diameter</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∂</string>
		<key>shortcut</key>
		<string>\differential</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊘</string>
		<key>shortcut</key>
		<string>\divc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊙</string>
		<key>shortcut</key>
		<string>\dotc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‡</string>
		<key>shortcut</key>
		<string>\doubledagger</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↓</string>
		<key>shortcut</key>
		<string>\down</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♁</string>
		<key>shortcut</key>
		<string>\earth</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∅</string>
		<key>shortcut</key>
		<string>\empty</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ε</string>
		<key>shortcut</key>
		<string>\epsilon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ε</string>
		<key>shortcut</key>
		<string>\Epsilon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>η</string>
		<key>shortcut</key>
		<string>\eta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Η</string>
		<key>shortcut</key>
		<string>\Eta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>et al.,</string>
		<key>shortcut</key>
		<string>\etal</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>€</string>
		<key>shortcut</key>
		<string>\euro</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♀</string>
		<key>shortcut</key>
		<string>\female</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>γ</string>
		<key>shortcut</key>
		<string>\gamma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Γ</string>
		<key>shortcut</key>
		<string>\Gamma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♊︎</string>
		<key>shortcut</key>
		<string>\gemini</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>五</string>
		<key>shortcut</key>
		<string>\go</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>八</string>
		<key>shortcut</key>
		<string>\hachi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>百</string>
		<key>shortcut</key>
		<string>\hyaku</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>一</string>
		<key>shortcut</key>
		<string>\ichi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>万</string>
		<key>shortcut</key>
		<string>\ichiman</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∞</string>
		<key>shortcut</key>
		<string>\inf</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∫</string>
		<key>shortcut</key>
		<string>\integral</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ι</string>
		<key>shortcut</key>
		<string>\iota</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ι</string>
		<key>shortcut</key>
		<string>\Iota</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♃</string>
		<key>shortcut</key>
		<string>\jupiter</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>κ</string>
		<key>shortcut</key>
		<string>\kappa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Κ</string>
		<key>shortcut</key>
		<string>\Kappa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>九</string>
		<key>shortcut</key>
		<string>\kyu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Λ</string>
		<key>shortcut</key>
		<string>\Lambda</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>λ</string>
		<key>shortcut</key>
		<string>\lamda</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♌︎</string>
		<key>shortcut</key>
		<string>\leo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♎︎</string>
		<key>shortcut</key>
		<string>\libra</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♂</string>
		<key>shortcut</key>
		<string>\male</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♂</string>
		<key>shortcut</key>
		<string>\mars</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☿</string>
		<key>shortcut</key>
		<string>\mercury</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>µ</string>
		<key>shortcut</key>
		<string>\micro</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊖</string>
		<key>shortcut</key>
		<string>\minusc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>µ</string>
		<key>shortcut</key>
		<string>\mu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Μ</string>
		<key>shortcut</key>
		<string>\Mu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>七</string>
		<key>shortcut</key>
		<string>\nana</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♆</string>
		<key>shortcut</key>
		<string>\neptuno</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>二</string>
		<key>shortcut</key>
		<string>\ni</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☊</string>
		<key>shortcut</key>
		<string>\node</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☋</string>
		<key>shortcut</key>
		<string>\nodedown</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>μ</string>
		<key>shortcut</key>
		<string>\nu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ν</string>
		<key>shortcut</key>
		<string>\Nu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ω</string>
		<key>shortcut</key>
		<string>\omega</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ω</string>
		<key>shortcut</key>
		<string>\Omega</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ο</string>
		<key>shortcut</key>
		<string>\omicron</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ο</string>
		<key>shortcut</key>
		<string>\Omicron</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>§</string>
		<key>shortcut</key>
		<string>\par</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>φ</string>
		<key>shortcut</key>
		<string>\phi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Φ</string>
		<key>shortcut</key>
		<string>\Phi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>π</string>
		<key>shortcut</key>
		<string>\pi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Π</string>
		<key>shortcut</key>
		<string>\Pi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♓︎</string>
		<key>shortcut</key>
		<string>\piscis</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♇</string>
		<key>shortcut</key>
		<string>\pluto</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♇</string>
		<key>shortcut</key>
		<string>\pluton</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∏</string>
		<key>shortcut</key>
		<string>\product</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ψ</string>
		<key>shortcut</key>
		<string>\psi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ψ</string>
		<key>shortcut</key>
		<string>\Psi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⟳</string>
		<key>shortcut</key>
		<string>\reload</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↵</string>
		<key>shortcut</key>
		<string>\return</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ρ</string>
		<key>shortcut</key>
		<string>\rho</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ρ</string>
		<key>shortcut</key>
		<string>\Rho</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>六</string>
		<key>shortcut</key>
		<string>\roku</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♐︎</string>
		<key>shortcut</key>
		<string>\sagitarius</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>三</string>
		<key>shortcut</key>
		<string>\san</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♄</string>
		<key>shortcut</key>
		<string>\saturn</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♏︎</string>
		<key>shortcut</key>
		<string>\scorpio</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>千</string>
		<key>shortcut</key>
		<string>\sen</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>四</string>
		<key>shortcut</key>
		<string>\shi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>七</string>
		<key>shortcut</key>
		<string>\sichi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>σ</string>
		<key>shortcut</key>
		<string>\sigma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Σ</string>
		<key>shortcut</key>
		<string>\Sigma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∿</string>
		<key>shortcut</key>
		<string>\sine</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☉</string>
		<key>shortcut</key>
		<string>\sol</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>√</string>
		<key>shortcut</key>
		<string>\sqrt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∑</string>
		<key>shortcut</key>
		<string>\sum</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊕</string>
		<key>shortcut</key>
		<string>\sumc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>τ</string>
		<key>shortcut</key>
		<string>\tau</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Τ</string>
		<key>shortcut</key>
		<string>\Tau</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♉︎</string>
		<key>shortcut</key>
		<string>\taurus</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>θ</string>
		<key>shortcut</key>
		<string>\theta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Θ</string>
		<key>shortcut</key>
		<string>\Theta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↳</string>
		<key>shortcut</key>
		<string>\thus</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♁</string>
		<key>shortcut</key>
		<string>\tierra</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>×</string>
		<key>shortcut</key>
		<string>\times</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊗</string>
		<key>shortcut</key>
		<string>\timesc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>£</string>
		<key>shortcut</key>
		<string>\ukpound</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↑</string>
		<key>shortcut</key>
		<string>\up</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>υ</string>
		<key>shortcut</key>
		<string>\upsilon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Υ</string>
		<key>shortcut</key>
		<string>\Upsilon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⛢</string>
		<key>shortcut</key>
		<string>\urano</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♅</string>
		<key>shortcut</key>
		<string>\uranus</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♀</string>
		<key>shortcut</key>
		<string>\venus</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♍︎</string>
		<key>shortcut</key>
		<string>\virgo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ξ</string>
		<key>shortcut</key>
		<string>\xi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ξ</string>
		<key>shortcut</key>
		<string>\Xi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¥</string>
		<key>shortcut</key>
		<string>\yen</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>十</string>
		<key>shortcut</key>
		<string>\yu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>〇</string>
		<key>shortcut</key>
		<string>\zero</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ζ</string>
		<key>shortcut</key>
		<string>\zeta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ζ</string>
		<key>shortcut</key>
		<string>\Zeta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>±</string>
		<key>shortcut</key>
		<string>+/-</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>&lt;-</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↔︎</string>
		<key>shortcut</key>
		<string>&lt;-&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≠</string>
		<key>shortcut</key>
		<string>=!</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≥</string>
		<key>shortcut</key>
		<string>=&lt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≤</string>
		<key>shortcut</key>
		<string>&gt;=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≈</string>
		<key>shortcut</key>
		<string>~=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>½</string>
		<key>shortcut</key>
		<string>1/2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅓</string>
		<key>shortcut</key>
		<string>1/3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¼</string>
		<key>shortcut</key>
		<string>1/4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¾</string>
		<key>shortcut</key>
		<string>3/4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>I don't know</string>
		<key>shortcut</key>
		<string>idk</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>On my way!</string>
		<key>shortcut</key>
		<string>omw</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>µL</string>
		<key>shortcut</key>
		<string>uL</string>
	</dict>
</array>
</plist>
